<div class="container">
  <form>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Problem title">
          </div>
          <div class="form-group col-md-4">
            <label for="difficulty">Difficulty</label>
            <select class="form-control" id="difficulty">
              <option>Easy</option>
              <option>Medidum</option>
              <option>Hard</option>
            </select>
          </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Describe your problem here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Problem</button>
  </form>

</div>
