<!-- Table -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Difficulty</th>
      <th scopr='col'>Acc</th>
      <th scopr='col'>Quality</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let problem of problemsDisplay">
      <th scope="row">{{problem.id}}</th>
      <td><a routerLink="/problems/{{problem.id}}">{{problem.title}}</a></td>
      <td><span class="badge diff-{{problem.difficulty}}">{{problem.difficulty}}</span></td>
      <td>32.23%</td>
      <td>Good</td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      <a class="page-link" href="#" (click)="showPage(currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let i of paginationPages" class="page-item"><a class="page-link" href="#" (click)="showPage(i)">{{i}}</a></li>
    <li class="page-item">
      <a class="page-link" href="#" (click)="showPage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>

