<form>
  <!-- Current Password -->
  <div class="form-group">
    <label for="current-password">Current password</label>
    <input type="password" class="form-control" placeholder="Enter your current password">
  </div>
  <!-- New Password -->
  <div class="form-group">
    <label for="new-password">New password</label>
    <input type="text" class="form-control" placeholder="Enter your new password">
  </div>
  <!-- Repeat New Password -->
  <div class="form-group">
    <label for="repeat-password">Re-enter your new password</label>
    <input type="text" class="form-control" placeholder="Re-enter your new password">
  </div>
  <button (click)="submit()" type="button" class="btn btn-primary">Submit</button>
  <button (click)="cancel()" type="button" class="btn btn-primary">Cancel</button>
</form>