.container {
    padding-top: 50px;
    margin-bottom: 150px;
}
.problem-list {
    border: 1px solid rgba(0, 0, 0, 0.125) ;
    border-radius: 5px;
    /* max-width: 300px; */
    margin-right: 15px;
    
}
.progress-dashboard {
    color: blueviolet;
    background: aqua;
    max-height: 400px;
    box-sizing: border-box;
    border: 1px solid black ;
    border-radius: 5px;
    text-align: center;
    line-height: 400px;
    /* vertical-align: center; */
}