#editor { 
    margin-top: 15px;
    height: 600px;
    font-size: 14px;
}

.editor-box {
    margin-top: 25px;
}

.button-group button {
    margin-right: 10px;
}

/* .MyCursorClass {
    position:absolute;
    background: red;
    z-index:100;
    width:3px;
} */