.editor-box {
    margin-top: 25px;
}
.header-btn-group {
    display: flex;
}
.header-btn-group button {
    margin-right: 5px;
}

#editor { 
    margin-top: 15px;
    height: 600px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.125);;
}

#execute-run-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* flex-basis:  */
    margin-top: 15px;
}
#execute-run-btn button {
    margin-left: 5px;
}