.navbar {
    padding-left: 100px;
    background: #24292e;
    
}
.navbar a {
    font-family: Helvetica,Arial,sans-serif;
    color: rgba(255,255,255,0.75);
    /* color: red; */
}
.navbar a:hover {
    color: white;
}
/* TODO: Add RWD */
#activateLink {
    color: white;
    height: 100%;
    border-bottom: 2px solid white;
}

.navbar .navbar-brand img{
    margin-right: 15px;
}

.login-out {
    margin-right: 100px;
}

#user-picture {
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    border-radius: 50%
}
#user-picture:hover {
    border: 1px solid lightgray;
}
#user-name {
    color: rgba(255,255,255,0.75);
    cursor: default;
}
