<nav>
  <!-- Nav Logo -->
  <div class="nav-logo">
    <p>Codecola</p>
  </div>
  <!-- Nav links -->
  <div class="nav-content">
    <ul class="nav-list">
      <li class="nav-item">
        <a #home (click)="activateLink(home)" routerLink="/problems">Home</a>
      </li>
      <li class="nav-item">
        <a #problems (click)="activateLink(problems)" routerLink="/problems">Problems</a>
      </li>
      <li class="nav-item">
        <a #sets (click)="activateLink(sets)" routerLink="/problems">Sets</a>
      </li>
      <li class="nav-item">
        <a #contribution (click)="activateLink(contribution)" routerLink="/contribute">Contribution</a>
      </li>
    </ul>
  </div>
  <!-- Register/Login-port -->
  <div class="nav-login"></div>
</nav>