.navbar {
    padding-left: 100px;
    background: #24292e;
    
}
.navbar a {
    /* color: #97A2A2; */
    color: rgba(255,255,255,0.75);
    /* font-f   amily: 'Gotham SSm A', 'Gotham SSm B'; */
    /* font-family: 'Gotham SSm A', 'Gotham SSm B'; */
    /* font-style: normal; */
}
.navbar a:hover {
    color: white;
}

.navbar .navbar-brand img{
    margin-right: 15px;
}

.login-out {
    margin-right: 100px;
}

#user-picture {
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    border-radius: 50%
}
/* #split {
    color: white;
    margin: 0 8px;
} */