nav {
    background: #24292e;
    height: 60px;
    margin: 0;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.nav-list {
    list-style-type: none;
    overflow: hidden;
}

.nav-item {
    float: left;
    height: 100%;
}
.nav-item > a {
    display: block;
    color: rgba(255,255,255,0.75);
    text-align: center;
    text-decoration: none;
}
.nav-item > a:hover {
    color: blue;
    background-color: lightcyan;
}